In [8]:
import psycopg2
try:
    connection = psycopg2.connect(
        host = 'osu-smartpong-db.coppbwdukw7p.us-east-2.rds.amazonaws.com',
        port = 5432,
        user = 'smartpong',
        password = 'jvg08tgCZhWBnlEa2Qj9',
        database = 'smartpong_db'
        )
except:
    print('unable to connect')

cursor=connection.cursor()

In [19]:
try:
    cursor.execute("""CREATE TABLE testTable(
        episode_num real PRIMARY KEY,
        value real)""")
except:
    print('table creation failed')
    
connection.commit()

In [20]:
import pandas as pd

sql = """
SELECT "table_name","column_name", "data_type", "table_schema"
FROM INFORMATION_SCHEMA.COLUMNS
WHERE "table_schema" = 'public'
ORDER BY table_name  
"""
pd.read_sql(sql, con=connection)

  table_name  column_name data_type table_schema
0  testtable  episode_num      real       public
1  testtable        value      real       public

In [21]:
with open('20_row_db_test.txt', 'r') as row:
    cursor.copy_from(row, 'testTable', sep=' ')
connection.commit()

In [22]:
sql2 = """
SELECT * FROM testTable
"""
pd.read_sql(sql2, con=connection)

    episode_num  value
0           0.0  -17.0
1           1.0  -19.0
2           2.0  -16.0
3           3.0  -14.0
4           4.0  -20.0
5           5.0  -19.0
6           6.0  -19.0
7           7.0  -16.0
8           8.0  -17.0
9           9.0  -16.0
10         10.0  -21.0
11         11.0  -17.0
12         12.0  -17.0
13         13.0  -19.0
14         14.0  -10.0
15         15.0  -16.0
16         16.0  -15.0
17         17.0  -20.0
18         18.0  -18.0
19         19.0  -14.0