In [8]:
import psycopg2
try:
    connection = psycopg2.connect(
        host = 'osu-smartpong-db.coppbwdukw7p.us-east-2.rds.amazonaws.com',
        port = 5432,
        user = 'smartpong',
        password = 'jvg08tgCZhWBnlEa2Qj9',
        database = 'smartpong_db'
        )
except:
    print('unable to connect')

cursor=connection.cursor()

In [19]:
try:
    cursor.execute("""CREATE TABLE testTable(
        episode_num real PRIMARY KEY,
        value real)""")
except:
    print('table creation failed')
    
connection.commit()

In [20]:
import pandas as pd

sql = """
SELECT "table_name","column_name", "data_type", "table_schema"
FROM INFORMATION_SCHEMA.COLUMNS
WHERE "table_schema" = 'public'
ORDER BY table_name  
"""
pd.read_sql(sql, con=connection)

  table_name  column_name data_type table_schema
0  testtable  episode_num      real       public
1  testtable        value      real       public

In [21]:
with open('20_row_db_test.txt', 'r') as row:
    cursor.copy_from(row, 'testTable', sep=' ')
connection.commit()

In [22]:
sql2 = """
SELECT * FROM testTable
"""
pd.read_sql(sql2, con=connection)

    episode_num  value
0           0.0  -17.0
1           1.0  -19.0
2           2.0  -16.0
3           3.0  -14.0
4           4.0  -20.0
5           5.0  -19.0
6           6.0  -19.0
7           7.0  -16.0
8           8.0  -17.0
9           9.0  -16.0
10         10.0  -21.0
11         11.0  -17.0
12         12.0  -17.0
13         13.0  -19.0
14         14.0  -10.0
15         15.0  -16.0
16         16.0  -15.0
17         17.0  -20.0
18         18.0  -18.0
19         19.0  -14.0

In [ ]:
if(connection):
    cursor.close()
    connection.close()

now lets test for storing of pickled objects, first with a small list then save.p, found in first/model of the code repository
from http://blog.cameronleger.com/2011/05/31/python-example-pickling-things-into-mysql-databases/

In [30]:
import _pickle as pickle

## Create a semi-complex list to pickle
listToPickle = [(10, 10), (20, 10.0), (1.0, 2.0)]

## Pickle the list into a string
pickledList = pickle.dumps(listToPickle)

# same as above
try:
    connection = psycopg2.connect(
        host = 'osu-smartpong-db.coppbwdukw7p.us-east-2.rds.amazonaws.com',
        port = 5432,
        user = 'smartpong',
        password = 'jvg08tgCZhWBnlEa2Qj9',
        database = 'smartpong_db'
        )
except:
    print('unable to connect')

cursor=connection.cursor()

pd.read_sql(sql, con=connection)

  table_name  column_name data_type table_schema
0  testtable  episode_num      real       public
1  testtable        value      real       public

In [42]:
try:
    cursor.execute("""CREATE TABLE testPickle(
        id int PRIMARY KEY,
        name varchar(20),
        list bytea)""")
except:
    print('table creation failed')
    
pd.read_sql(sql, con=connection)
connection.commit()

In [43]:
 ## Add the information to the database table pickleTest
cursor.execute("""INSERT INTO testPickle VALUES (1, 'pickletest', %s)""", (pickledList, ))
connection.commit()

In [48]:
## read what we added
sql3 = """
SELECT * FROM testPickle
"""
pd.read_sql(sql3, con=connection)

   id        name                                               list
0   1  pickletest  [b'\x80', b'\x03', b']', b'q', b'\x00', b'(', ...

In [49]:
## Select what we just added
cursor.execute("""SELECT list FROM testPickle WHERE id = 1""")

## Dump the results to a string
rows = cursor.fetchall()

print(rows)

[(<memory at 0x0000021784A58408>,)]

In [52]:
## Get the results (added print statements to see what is happening)
for each in rows:
    print(each)
    ## The result is also in a tuple
    for pickledStoredList in each:
        print(pickledStoredList)
        ## Unpickle the stored string
        unpickledList = pickle.loads(pickledStoredList)
        print(unpickledList)

(<memory at 0x0000021784A58408>,)
<memory at 0x0000021784A58408>
[(10, 10), (20, 10.0), (1.0, 2.0)]

In [53]:
## now lets try with save.p, start with a commit to give a starting point
connection.commit()
## create the model like we would have at the end of a run
model = pickle.load(open('save.p', 'rb'))
## ensure the model looks correct
print(model)

{'W1': array([[ 0.00986305,  0.01918138, -0.00313199, ..., -0.01376265,
         0.01535608,  0.00253256],
       [ 0.00385199,  0.01159074,  0.00542042, ..., -0.00051124,
        -0.01280302, -0.00149491],
       [-0.00265701, -0.01828055,  0.01837293, ...,  0.00580771,
        -0.00133841,  0.00547078],
       ...,
       [-0.00151471, -0.01705434, -0.00998575, ...,  0.00595084,
        -0.01750963, -0.0131777 ],
       [-0.0122187 ,  0.03356755,  0.00031973, ...,  0.0110237 ,
         0.02433764,  0.00318426],
       [ 0.01251938,  0.0086053 , -0.00484523, ..., -0.00468177,
        -0.00273522,  0.00399169]]), 'W2': array([-0.05176747,  0.01042403,  0.06809449, -0.05495598,  0.06147652,
        0.04889752,  0.02549399, -0.14199327,  0.00875722, -0.0611561 ,
        0.06237162, -0.0676683 , -0.14531787, -0.08077788,  0.18096023,
        0.06802402,  0.04962563, -0.07516429, -0.15192587, -0.06492728,
        0.04385191, -0.01838174,  0.03493977,  0.12697728, -0.03480043,
        0.01731593, -0.05465965,  0.00751215,  0.08694957, -0.03782728,
        0.00270353, -0.13339218, -0.02053099,  0.04378063, -0.00531623,
        0.04024961, -0.02635733,  0.05723811, -0.07500491, -0.09943834,
        0.09742108,  0.03199639,  0.04666092, -0.06803317, -0.03349275,
       -0.04470395, -0.13763572,  0.01732153, -0.04253221,  0.03273849,
        0.08108374, -0.00115104, -0.1159952 ,  0.00426156,  0.05707324,
       -0.02936261, -0.04117125,  0.0294746 , -0.08853243, -0.10909309,
        0.06339353, -0.06463717, -0.12772449, -0.1604984 , -0.08750018,
       -0.04818144, -0.06656184,  0.01673941,  0.1576454 ,  0.11892957,
       -0.06291534, -0.05826396, -0.1587906 ,  0.07142683,  0.07552857,
       -0.02125083, -0.03944093,  0.12815565,  0.04855625, -0.00144768,
        0.05331059, -0.04287517,  0.1109899 , -0.09352796, -0.04421066,
        0.17017944,  0.13289145,  0.02138955,  0.04592952,  0.03337848,
        0.07485224, -0.0633607 ,  0.07970485,  0.09220688,  0.01346338,
       -0.04458134,  0.03000962, -0.13583598,  0.0464039 , -0.10348182,
       -0.04121382,  0.05400658, -0.02197325,  0.15124501,  0.04027726,
       -0.08036239, -0.03187006,  0.06004334,  0.05356187,  0.03321276,
       -0.0212882 ,  0.10233644, -0.01347796, -0.03197035,  0.12898143,
       -0.02842129,  0.01232653,  0.04048711, -0.11825051,  0.11073194,
        0.01530821, -0.05556882, -0.04706037, -0.04116048, -0.03772303,
       -0.09524476,  0.02064692, -0.02433123,  0.00391723, -0.01498677,
       -0.08286191, -0.10624029,  0.05768304, -0.08810747, -0.0461934 ,
        0.05715521, -0.0277232 , -0.03077237, -0.02644987, -0.03165692,
        0.05045013, -0.08940249, -0.03240353,  0.12426604, -0.08231366,
        0.06062159,  0.06491787,  0.06653749,  0.05428061, -0.0642842 ,
       -0.12727145,  0.05481695,  0.04208987, -0.02003188, -0.16690667,
        0.07223502,  0.03705173, -0.01563142, -0.00574005,  0.05154338,
       -0.01744034, -0.03641475, -0.06860613,  0.05357822, -0.13139521,
        0.13145737,  0.00764973,  0.08215819, -0.04739098,  0.14595764,
       -0.04547371, -0.08548626, -0.14938815,  0.0232314 , -0.06358044,
        0.02986516,  0.08698696,  0.12742546, -0.0120021 , -0.01644802,
        0.03577551,  0.03884714, -0.11159757,  0.0126511 ,  0.14423785,
       -0.07755191,  0.04486967,  0.04701519,  0.05145551, -0.07677789,
        0.02207505, -0.04610982, -0.04506888, -0.04305553, -0.06264742,
       -0.07611998, -0.01763367, -0.02585824,  0.01321205,  0.06603542])}

In [54]:
## now pickle like at the end of the program
pickled_model = pickle.dumps(model)

## establish connection (this should not need to be done every time in
## the actual program but done here due to the out of order code execution
## juyptier allows you could start from this code block ((actually the testPickle
# table is resused so maybe not))
# same as above
try:
    connection = psycopg2.connect(
        host = 'osu-smartpong-db.coppbwdukw7p.us-east-2.rds.amazonaws.com',
        port = 5432,
        user = 'smartpong',
        password = 'jvg08tgCZhWBnlEa2Qj9',
        database = 'smartpong_db'
        )
except:
    print('unable to connect')

cursor=connection.cursor()

pd.read_sql(sql, con=connection)

   table_name  column_name          data_type table_schema
0  testpickle         name  character varying       public
1  testpickle         list              bytea       public
2  testpickle           id            integer       public
3   testtable  episode_num               real       public
4   testtable        value               real       public

In [55]:
 ## Add the information to the database table pickleTest
cursor.execute("""INSERT INTO testPickle VALUES (2, 'modeltest', %s)""", (pickled_model, ))
connection.commit()
## read what we just added
pd.read_sql(sql3, con=connection)

   id        name                                               list
0   1  pickletest  [b'\x80', b'\x03', b']', b'q', b'\x00', b'(', ...
1   2   modeltest  [b'\x80', b'\x03', b'}', b'q', b'\x00', b'(', ...

In [56]:
## Select what we just added
cursor.execute("""SELECT list FROM testPickle WHERE id = 2""")

## Dump the results to a string
rows = cursor.fetchall()

print(rows)

[(<memory at 0x0000021784A58A08>,)]

In [59]:
## Get the results (added print statements to see what is happening)
for each in rows:
    print(each)
    ## The result is also in a tuple
    for pickledStoredModel in each:
        print(pickledStoredModel)
        ## Unpickle the stored string
        unpickledModel = pickle.loads(pickledStoredModel)
        print(unpickledModel)
        ## compare with original
        print(model)

(<memory at 0x0000021784A58A08>,)
<memory at 0x0000021784A58A08>
{'W1': array([[ 0.00986305,  0.01918138, -0.00313199, ..., -0.01376265,
         0.01535608,  0.00253256],
       [ 0.00385199,  0.01159074,  0.00542042, ..., -0.00051124,
        -0.01280302, -0.00149491],
       [-0.00265701, -0.01828055,  0.01837293, ...,  0.00580771,
        -0.00133841,  0.00547078],
       ...,
       [-0.00151471, -0.01705434, -0.00998575, ...,  0.00595084,
        -0.01750963, -0.0131777 ],
       [-0.0122187 ,  0.03356755,  0.00031973, ...,  0.0110237 ,
         0.02433764,  0.00318426],
       [ 0.01251938,  0.0086053 , -0.00484523, ..., -0.00468177,
        -0.00273522,  0.00399169]]), 'W2': array([-0.05176747,  0.01042403,  0.06809449, -0.05495598,  0.06147652,
        0.04889752,  0.02549399, -0.14199327,  0.00875722, -0.0611561 ,
        0.06237162, -0.0676683 , -0.14531787, -0.08077788,  0.18096023,
        0.06802402,  0.04962563, -0.07516429, -0.15192587, -0.06492728,
        0.04385191, -0.01838174,  0.03493977,  0.12697728, -0.03480043,
        0.01731593, -0.05465965,  0.00751215,  0.08694957, -0.03782728,
        0.00270353, -0.13339218, -0.02053099,  0.04378063, -0.00531623,
        0.04024961, -0.02635733,  0.05723811, -0.07500491, -0.09943834,
        0.09742108,  0.03199639,  0.04666092, -0.06803317, -0.03349275,
       -0.04470395, -0.13763572,  0.01732153, -0.04253221,  0.03273849,
        0.08108374, -0.00115104, -0.1159952 ,  0.00426156,  0.05707324,
       -0.02936261, -0.04117125,  0.0294746 , -0.08853243, -0.10909309,
        0.06339353, -0.06463717, -0.12772449, -0.1604984 , -0.08750018,
       -0.04818144, -0.06656184,  0.01673941,  0.1576454 ,  0.11892957,
       -0.06291534, -0.05826396, -0.1587906 ,  0.07142683,  0.07552857,
       -0.02125083, -0.03944093,  0.12815565,  0.04855625, -0.00144768,
        0.05331059, -0.04287517,  0.1109899 , -0.09352796, -0.04421066,
        0.17017944,  0.13289145,  0.02138955,  0.04592952,  0.03337848,
        0.07485224, -0.0633607 ,  0.07970485,  0.09220688,  0.01346338,
       -0.04458134,  0.03000962, -0.13583598,  0.0464039 , -0.10348182,
       -0.04121382,  0.05400658, -0.02197325,  0.15124501,  0.04027726,
       -0.08036239, -0.03187006,  0.06004334,  0.05356187,  0.03321276,
       -0.0212882 ,  0.10233644, -0.01347796, -0.03197035,  0.12898143,
       -0.02842129,  0.01232653,  0.04048711, -0.11825051,  0.11073194,
        0.01530821, -0.05556882, -0.04706037, -0.04116048, -0.03772303,
       -0.09524476,  0.02064692, -0.02433123,  0.00391723, -0.01498677,
       -0.08286191, -0.10624029,  0.05768304, -0.08810747, -0.0461934 ,
        0.05715521, -0.0277232 , -0.03077237, -0.02644987, -0.03165692,
        0.05045013, -0.08940249, -0.03240353,  0.12426604, -0.08231366,
        0.06062159,  0.06491787,  0.06653749,  0.05428061, -0.0642842 ,
       -0.12727145,  0.05481695,  0.04208987, -0.02003188, -0.16690667,
        0.07223502,  0.03705173, -0.01563142, -0.00574005,  0.05154338,
       -0.01744034, -0.03641475, -0.06860613,  0.05357822, -0.13139521,
        0.13145737,  0.00764973,  0.08215819, -0.04739098,  0.14595764,
       -0.04547371, -0.08548626, -0.14938815,  0.0232314 , -0.06358044,
        0.02986516,  0.08698696,  0.12742546, -0.0120021 , -0.01644802,
        0.03577551,  0.03884714, -0.11159757,  0.0126511 ,  0.14423785,
       -0.07755191,  0.04486967,  0.04701519,  0.05145551, -0.07677789,
        0.02207505, -0.04610982, -0.04506888, -0.04305553, -0.06264742,
       -0.07611998, -0.01763367, -0.02585824,  0.01321205,  0.06603542])}
{'W1': array([[ 0.00986305,  0.01918138, -0.00313199, ..., -0.01376265,
         0.01535608,  0.00253256],
       [ 0.00385199,  0.01159074,  0.00542042, ..., -0.00051124,
        -0.01280302, -0.00149491],
       [-0.00265701, -0.01828055,  0.01837293, ...,  0.00580771,
        -0.00133841,  0.00547078],
       ...,
       [-0.00151471, -0.01705434, -0.00998575, ...,  0.00595084,
        -0.01750963, -0.0131777 ],
       [-0.0122187 ,  0.03356755,  0.00031973, ...,  0.0110237 ,
         0.02433764,  0.00318426],
       [ 0.01251938,  0.0086053 , -0.00484523, ..., -0.00468177,
        -0.00273522,  0.00399169]]), 'W2': array([-0.05176747,  0.01042403,  0.06809449, -0.05495598,  0.06147652,
        0.04889752,  0.02549399, -0.14199327,  0.00875722, -0.0611561 ,
        0.06237162, -0.0676683 , -0.14531787, -0.08077788,  0.18096023,
        0.06802402,  0.04962563, -0.07516429, -0.15192587, -0.06492728,
        0.04385191, -0.01838174,  0.03493977,  0.12697728, -0.03480043,
        0.01731593, -0.05465965,  0.00751215,  0.08694957, -0.03782728,
        0.00270353, -0.13339218, -0.02053099,  0.04378063, -0.00531623,
        0.04024961, -0.02635733,  0.05723811, -0.07500491, -0.09943834,
        0.09742108,  0.03199639,  0.04666092, -0.06803317, -0.03349275,
       -0.04470395, -0.13763572,  0.01732153, -0.04253221,  0.03273849,
        0.08108374, -0.00115104, -0.1159952 ,  0.00426156,  0.05707324,
       -0.02936261, -0.04117125,  0.0294746 , -0.08853243, -0.10909309,
        0.06339353, -0.06463717, -0.12772449, -0.1604984 , -0.08750018,
       -0.04818144, -0.06656184,  0.01673941,  0.1576454 ,  0.11892957,
       -0.06291534, -0.05826396, -0.1587906 ,  0.07142683,  0.07552857,
       -0.02125083, -0.03944093,  0.12815565,  0.04855625, -0.00144768,
        0.05331059, -0.04287517,  0.1109899 , -0.09352796, -0.04421066,
        0.17017944,  0.13289145,  0.02138955,  0.04592952,  0.03337848,
        0.07485224, -0.0633607 ,  0.07970485,  0.09220688,  0.01346338,
       -0.04458134,  0.03000962, -0.13583598,  0.0464039 , -0.10348182,
       -0.04121382,  0.05400658, -0.02197325,  0.15124501,  0.04027726,
       -0.08036239, -0.03187006,  0.06004334,  0.05356187,  0.03321276,
       -0.0212882 ,  0.10233644, -0.01347796, -0.03197035,  0.12898143,
       -0.02842129,  0.01232653,  0.04048711, -0.11825051,  0.11073194,
        0.01530821, -0.05556882, -0.04706037, -0.04116048, -0.03772303,
       -0.09524476,  0.02064692, -0.02433123,  0.00391723, -0.01498677,
       -0.08286191, -0.10624029,  0.05768304, -0.08810747, -0.0461934 ,
        0.05715521, -0.0277232 , -0.03077237, -0.02644987, -0.03165692,
        0.05045013, -0.08940249, -0.03240353,  0.12426604, -0.08231366,
        0.06062159,  0.06491787,  0.06653749,  0.05428061, -0.0642842 ,
       -0.12727145,  0.05481695,  0.04208987, -0.02003188, -0.16690667,
        0.07223502,  0.03705173, -0.01563142, -0.00574005,  0.05154338,
       -0.01744034, -0.03641475, -0.06860613,  0.05357822, -0.13139521,
        0.13145737,  0.00764973,  0.08215819, -0.04739098,  0.14595764,
       -0.04547371, -0.08548626, -0.14938815,  0.0232314 , -0.06358044,
        0.02986516,  0.08698696,  0.12742546, -0.0120021 , -0.01644802,
        0.03577551,  0.03884714, -0.11159757,  0.0126511 ,  0.14423785,
       -0.07755191,  0.04486967,  0.04701519,  0.05145551, -0.07677789,
        0.02207505, -0.04610982, -0.04506888, -0.04305553, -0.06264742,
       -0.07611998, -0.01763367, -0.02585824,  0.01321205,  0.06603542])}

In [61]:
## more function testing, easier to get 'live' feedback from this notebook
try:
    connection = psycopg2.connect(
        host = 'osu-smartpong-db.coppbwdukw7p.us-east-2.rds.amazonaws.com',
        port = 5432,
        user = 'smartpong',
        password = 'jvg08tgCZhWBnlEa2Qj9',
        database = 'smartpong_db'
        )
except:
    print('unable to connect')

cursor=connection.cursor()

In [62]:
## tables will now look more like the planned schema
## this will be like the models table save for the pickle data (see above)

try:
    cursor.execute("""CREATE TABLE testModel(
        name varchar(32) PRIMARY KEY,
        node_num int,
        batch_size int,
        learning_rate real,
        gamma real,
        decay real)""")
except:
    print('table creation failed')
    
connection.commit()

In [68]:
## same hyperparams list that would be returned from the interface
## hyperparameters
H = 300  # number of hidden layer neurons
batch_size = 7  # every how many episodes to do a param update?
learning_rate = 5e-4
gamma = 0.99  # discount factor for reward
decay_rate = 0.99  # decay factor for RMSProp leaky sum of grad^2
## make list
hyper_params = [H, batch_size, learning_rate, gamma, decay_rate]
model_name = 'test_model'

## now try to insert information
sqlm = """INSERT INTO testModel
VALUES (%s, %s, %s, %s, %s, %s)"""
data = (model_name, hyper_params[0], hyper_params[1], hyper_params[2], hyper_params[3], hyper_params[4])
cursor.execute(sqlm, data)
connection.commit()

In [73]:
## try to retrieve data
sqls = """SELECT node_num, batch_size, learning_rate, gamma, decay
    FROM testModel
    WHERE name = %s"""
input_name = 'test_model'
datas = (input_name, )
cursor.execute(sqls, datas)
## number of rows returned, should be 1
print(cursor.rowcount)
row = cursor.fetchone()
print(row)

1
(300, 7, 0.0005, 0.99, 0.99)

In [5]:
## update test
import psycopg2
connection = psycopg2.connect(
    host = 'osu-smartpong-db.coppbwdukw7p.us-east-2.rds.amazonaws.com',
    port = 5432,
    user = 'smartpong',
    password = 'jvg08tgCZhWBnlEa2Qj9',
    database = 'smartpong_db'
    )


cursor=connection.cursor()

In [8]:
import _pickle as pickle
model = pickle.load(open('./first_model/save1.p', 'rb'))
## ensure the model looks correct
print(model)
pickled_model = pickle.dumps(model)

{'W1': array([[ 0.00971239, -0.00561747, -0.00698283, ..., -0.00086562,
        -0.02854893,  0.00914602],
       [ 0.01400215, -0.01822228,  0.01312269, ..., -0.00047382,
         0.00433795, -0.01148881],
       [-0.013134  ,  0.00440764,  0.04045122, ..., -0.00978994,
        -0.00337321, -0.00941668],
       ...,
       [-0.0034782 , -0.00135709, -0.00684344, ..., -0.00317055,
        -0.01950786, -0.02259387],
       [ 0.0041871 , -0.0002015 ,  0.00247631, ...,  0.0201034 ,
         0.01523165,  0.01048456],
       [ 0.01471047,  0.02153107,  0.00585267, ...,  0.01003378,
         0.00394759,  0.00118539]]), 'W2': array([ 0.1717379 , -0.21581118, -0.17185777, -0.22259994,  0.16559898,
        0.09861532, -0.20488112,  0.21160748, -0.10555927,  0.17862329,
        0.20022116, -0.28743796,  0.15660801, -0.20263338,  0.24687321,
       -0.17882811, -0.23618186,  0.17561563,  0.1863949 , -0.17696575,
       -0.16969786, -0.21722762, -0.1781503 , -0.16351276,  0.20248008,
       -0.15127597,  0.20207625, -0.1502093 , -0.1762202 ,  0.16321647,
       -0.27844108, -0.19485116,  0.21375344,  0.16216035,  0.22029091,
       -0.19646269, -0.18327797, -0.2258754 ,  0.13766618,  0.34486338,
        0.1589108 ,  0.16406466,  0.15053829,  0.21226012, -0.17185364,
       -0.21795383,  0.13574061,  0.15157593,  0.16018758, -0.16343816,
       -0.19855455, -0.22598617, -0.17154066, -0.24687124, -0.17706839,
        0.18696577,  0.1551892 ,  0.15556312, -0.22091214,  0.11745892,
       -0.22218275,  0.16029555,  0.18325035,  0.16825124,  0.18842155,
       -0.18187563, -0.14950553,  0.22265743,  0.27229113,  0.10606565,
       -0.20251905, -0.20444179, -0.14182725,  0.22511196, -0.17702401,
       -0.14935429, -0.15492584,  0.21396559, -0.22347043, -0.15097379,
       -0.20714578,  0.15273729, -0.23736426,  0.13395793, -0.17119045,
       -0.16087171,  0.1951822 ,  0.20245196,  0.14296659, -0.22568189,
       -0.21417101, -0.17449959, -0.26459585, -0.17471345, -0.22829187,
        0.20628276,  0.22187158,  0.16454852,  0.24579366, -0.22765039,
       -0.24770774, -0.20649499,  0.14658284,  0.12905099, -0.21104102,
        0.13638859,  0.19676774, -0.14591745,  0.16015883, -0.17748275,
        0.11916745,  0.15888299, -0.23936165, -0.18839017,  0.1337945 ,
        0.25595335, -0.23121324,  0.19873365, -0.20046951, -0.23863147,
        0.10846849,  0.19427921, -0.27296952, -0.15468001,  0.19070405,
        0.16333392, -0.15428532, -0.240227  ,  0.19084937, -0.21217605,
       -0.19263303,  0.16420498,  0.20549703, -0.31836453, -0.16383832,
       -0.18082122,  0.23660303,  0.10485868,  0.14863183,  0.13404179,
       -0.24003416, -0.27437246,  0.17030761,  0.1160581 ,  0.19135805,
       -0.19220947,  0.17230628,  0.14446484, -0.28472349,  0.13039717,
       -0.17273409,  0.25094915,  0.19886389,  0.20430265, -0.16287831,
       -0.13209136, -0.2013001 , -0.17503647,  0.22837482, -0.22742892,
        0.17948052, -0.20727722, -0.17725706,  0.20549484, -0.17411138,
        0.20599548,  0.20618296,  0.17782686, -0.1553473 ,  0.23002673,
        0.23540523,  0.18449606, -0.18035168, -0.19459396, -0.18251601,
        0.1388819 , -0.23941724, -0.21706809,  0.19637536,  0.16867161,
        0.25304476,  0.19772398,  0.16103337,  0.23675305,  0.21238705,
        0.1703651 , -0.18322305, -0.24186385, -0.26949251, -0.22512408,
       -0.26029922, -0.18731529, -0.21640887,  0.189478  , -0.20455822,
       -0.18090107, -0.14754138,  0.13691276,  0.12933338, -0.17242538,
       -0.18986203, -0.17072238,  0.15160632,  0.21883178,  0.16301415,
       -0.22859188, -0.14727394,  0.17024001, -0.17595955, -0.16812743,
        0.15996752,  0.13538283, -0.27714014, -0.20390081, -0.14474474,
        0.14659411, -0.18552712,  0.2509677 ,  0.20045745, -0.18401909,
        0.16277509, -0.19140621,  0.19270589,  0.2270116 ,  0.13882315,
        0.1772404 ,  0.15916839, -0.18566159,  0.15944506, -0.19923665,
       -0.16532086, -0.20908229, -0.21871305,  0.18042783,  0.23319623,
        0.19016707, -0.23578553, -0.27618491, -0.19544112, -0.22235747,
        0.11834605,  0.11196453, -0.22068922, -0.17524315,  0.200723  ,
        0.22187535,  0.23902087,  0.17419481,  0.15067153, -0.19904575,
        0.20640681, -0.17224237, -0.14477409, -0.23227021, -0.27119004,
        0.13763605, -0.21524303, -0.15776282, -0.23915532, -0.19590525,
        0.15687462,  0.18017107, -0.15135468,  0.12129603,  0.17890482,
       -0.18199512, -0.22003135, -0.23014233, -0.27856647, -0.13577728,
       -0.19643876,  0.24455532, -0.19351315, -0.15587742, -0.24956301,
       -0.15215661, -0.1430768 ,  0.14977042, -0.16717707,  0.20254903,
       -0.14835515, -0.2211782 ,  0.16474215, -0.13465159, -0.12340202,
        0.23977747,  0.20625895,  0.11513892, -0.17775112, -0.21304154,
       -0.18036382,  0.13617263, -0.17255168,  0.17913985, -0.2054363 ,
        0.24858345,  0.21692126, -0.1878057 , -0.18291435, -0.15983864])}

In [9]:
sql = """UPDATE testPickle
        SET list = %s
        WHERE id = 2"""
data = (pickled_model, )
cursor.execute(sql, data)

In [11]:
connection.commit()
import pandas as pd
sql3 = """
SELECT * FROM testPickle
"""
pd.read_sql(sql3, con=connection)

   id        name                                               list
0   1  pickletest  [b'\x80', b'\x03', b']', b'q', b'\x00', b'(', ...
1   2   modeltest  [b'\x80', b'\x03', b'}', b'q', b'\x00', b'(', ...

In [13]:
cursor.execute("""SELECT list FROM testPickle WHERE id = 2""")

## Dump the results to a string
rows = cursor.fetchall()
for each in rows:
    print(each)
    ## The result is also in a tuple
    for pickledStoredModel in each:
        print(pickledStoredModel)
        ## Unpickle the stored string
        unpickledModel = pickle.loads(pickledStoredModel)
        print(unpickledModel)
        ## compare with original
        print(model)

(<memory at 0x000001A1E285B4C8>,)
<memory at 0x000001A1E285B4C8>
{'W1': array([[ 0.00971239, -0.00561747, -0.00698283, ..., -0.00086562,
        -0.02854893,  0.00914602],
       [ 0.01400215, -0.01822228,  0.01312269, ..., -0.00047382,
         0.00433795, -0.01148881],
       [-0.013134  ,  0.00440764,  0.04045122, ..., -0.00978994,
        -0.00337321, -0.00941668],
       ...,
       [-0.0034782 , -0.00135709, -0.00684344, ..., -0.00317055,
        -0.01950786, -0.02259387],
       [ 0.0041871 , -0.0002015 ,  0.00247631, ...,  0.0201034 ,
         0.01523165,  0.01048456],
       [ 0.01471047,  0.02153107,  0.00585267, ...,  0.01003378,
         0.00394759,  0.00118539]]), 'W2': array([ 0.1717379 , -0.21581118, -0.17185777, -0.22259994,  0.16559898,
        0.09861532, -0.20488112,  0.21160748, -0.10555927,  0.17862329,
        0.20022116, -0.28743796,  0.15660801, -0.20263338,  0.24687321,
       -0.17882811, -0.23618186,  0.17561563,  0.1863949 , -0.17696575,
       -0.16969786, -0.21722762, -0.1781503 , -0.16351276,  0.20248008,
       -0.15127597,  0.20207625, -0.1502093 , -0.1762202 ,  0.16321647,
       -0.27844108, -0.19485116,  0.21375344,  0.16216035,  0.22029091,
       -0.19646269, -0.18327797, -0.2258754 ,  0.13766618,  0.34486338,
        0.1589108 ,  0.16406466,  0.15053829,  0.21226012, -0.17185364,
       -0.21795383,  0.13574061,  0.15157593,  0.16018758, -0.16343816,
       -0.19855455, -0.22598617, -0.17154066, -0.24687124, -0.17706839,
        0.18696577,  0.1551892 ,  0.15556312, -0.22091214,  0.11745892,
       -0.22218275,  0.16029555,  0.18325035,  0.16825124,  0.18842155,
       -0.18187563, -0.14950553,  0.22265743,  0.27229113,  0.10606565,
       -0.20251905, -0.20444179, -0.14182725,  0.22511196, -0.17702401,
       -0.14935429, -0.15492584,  0.21396559, -0.22347043, -0.15097379,
       -0.20714578,  0.15273729, -0.23736426,  0.13395793, -0.17119045,
       -0.16087171,  0.1951822 ,  0.20245196,  0.14296659, -0.22568189,
       -0.21417101, -0.17449959, -0.26459585, -0.17471345, -0.22829187,
        0.20628276,  0.22187158,  0.16454852,  0.24579366, -0.22765039,
       -0.24770774, -0.20649499,  0.14658284,  0.12905099, -0.21104102,
        0.13638859,  0.19676774, -0.14591745,  0.16015883, -0.17748275,
        0.11916745,  0.15888299, -0.23936165, -0.18839017,  0.1337945 ,
        0.25595335, -0.23121324,  0.19873365, -0.20046951, -0.23863147,
        0.10846849,  0.19427921, -0.27296952, -0.15468001,  0.19070405,
        0.16333392, -0.15428532, -0.240227  ,  0.19084937, -0.21217605,
       -0.19263303,  0.16420498,  0.20549703, -0.31836453, -0.16383832,
       -0.18082122,  0.23660303,  0.10485868,  0.14863183,  0.13404179,
       -0.24003416, -0.27437246,  0.17030761,  0.1160581 ,  0.19135805,
       -0.19220947,  0.17230628,  0.14446484, -0.28472349,  0.13039717,
       -0.17273409,  0.25094915,  0.19886389,  0.20430265, -0.16287831,
       -0.13209136, -0.2013001 , -0.17503647,  0.22837482, -0.22742892,
        0.17948052, -0.20727722, -0.17725706,  0.20549484, -0.17411138,
        0.20599548,  0.20618296,  0.17782686, -0.1553473 ,  0.23002673,
        0.23540523,  0.18449606, -0.18035168, -0.19459396, -0.18251601,
        0.1388819 , -0.23941724, -0.21706809,  0.19637536,  0.16867161,
        0.25304476,  0.19772398,  0.16103337,  0.23675305,  0.21238705,
        0.1703651 , -0.18322305, -0.24186385, -0.26949251, -0.22512408,
       -0.26029922, -0.18731529, -0.21640887,  0.189478  , -0.20455822,
       -0.18090107, -0.14754138,  0.13691276,  0.12933338, -0.17242538,
       -0.18986203, -0.17072238,  0.15160632,  0.21883178,  0.16301415,
       -0.22859188, -0.14727394,  0.17024001, -0.17595955, -0.16812743,
        0.15996752,  0.13538283, -0.27714014, -0.20390081, -0.14474474,
        0.14659411, -0.18552712,  0.2509677 ,  0.20045745, -0.18401909,
        0.16277509, -0.19140621,  0.19270589,  0.2270116 ,  0.13882315,
        0.1772404 ,  0.15916839, -0.18566159,  0.15944506, -0.19923665,
       -0.16532086, -0.20908229, -0.21871305,  0.18042783,  0.23319623,
        0.19016707, -0.23578553, -0.27618491, -0.19544112, -0.22235747,
        0.11834605,  0.11196453, -0.22068922, -0.17524315,  0.200723  ,
        0.22187535,  0.23902087,  0.17419481,  0.15067153, -0.19904575,
        0.20640681, -0.17224237, -0.14477409, -0.23227021, -0.27119004,
        0.13763605, -0.21524303, -0.15776282, -0.23915532, -0.19590525,
        0.15687462,  0.18017107, -0.15135468,  0.12129603,  0.17890482,
       -0.18199512, -0.22003135, -0.23014233, -0.27856647, -0.13577728,
       -0.19643876,  0.24455532, -0.19351315, -0.15587742, -0.24956301,
       -0.15215661, -0.1430768 ,  0.14977042, -0.16717707,  0.20254903,
       -0.14835515, -0.2211782 ,  0.16474215, -0.13465159, -0.12340202,
        0.23977747,  0.20625895,  0.11513892, -0.17775112, -0.21304154,
       -0.18036382,  0.13617263, -0.17255168,  0.17913985, -0.2054363 ,
        0.24858345,  0.21692126, -0.1878057 , -0.18291435, -0.15983864])}
{'W1': array([[ 0.00971239, -0.00561747, -0.00698283, ..., -0.00086562,
        -0.02854893,  0.00914602],
       [ 0.01400215, -0.01822228,  0.01312269, ..., -0.00047382,
         0.00433795, -0.01148881],
       [-0.013134  ,  0.00440764,  0.04045122, ..., -0.00978994,
        -0.00337321, -0.00941668],
       ...,
       [-0.0034782 , -0.00135709, -0.00684344, ..., -0.00317055,
        -0.01950786, -0.02259387],
       [ 0.0041871 , -0.0002015 ,  0.00247631, ...,  0.0201034 ,
         0.01523165,  0.01048456],
       [ 0.01471047,  0.02153107,  0.00585267, ...,  0.01003378,
         0.00394759,  0.00118539]]), 'W2': array([ 0.1717379 , -0.21581118, -0.17185777, -0.22259994,  0.16559898,
        0.09861532, -0.20488112,  0.21160748, -0.10555927,  0.17862329,
        0.20022116, -0.28743796,  0.15660801, -0.20263338,  0.24687321,
       -0.17882811, -0.23618186,  0.17561563,  0.1863949 , -0.17696575,
       -0.16969786, -0.21722762, -0.1781503 , -0.16351276,  0.20248008,
       -0.15127597,  0.20207625, -0.1502093 , -0.1762202 ,  0.16321647,
       -0.27844108, -0.19485116,  0.21375344,  0.16216035,  0.22029091,
       -0.19646269, -0.18327797, -0.2258754 ,  0.13766618,  0.34486338,
        0.1589108 ,  0.16406466,  0.15053829,  0.21226012, -0.17185364,
       -0.21795383,  0.13574061,  0.15157593,  0.16018758, -0.16343816,
       -0.19855455, -0.22598617, -0.17154066, -0.24687124, -0.17706839,
        0.18696577,  0.1551892 ,  0.15556312, -0.22091214,  0.11745892,
       -0.22218275,  0.16029555,  0.18325035,  0.16825124,  0.18842155,
       -0.18187563, -0.14950553,  0.22265743,  0.27229113,  0.10606565,
       -0.20251905, -0.20444179, -0.14182725,  0.22511196, -0.17702401,
       -0.14935429, -0.15492584,  0.21396559, -0.22347043, -0.15097379,
       -0.20714578,  0.15273729, -0.23736426,  0.13395793, -0.17119045,
       -0.16087171,  0.1951822 ,  0.20245196,  0.14296659, -0.22568189,
       -0.21417101, -0.17449959, -0.26459585, -0.17471345, -0.22829187,
        0.20628276,  0.22187158,  0.16454852,  0.24579366, -0.22765039,
       -0.24770774, -0.20649499,  0.14658284,  0.12905099, -0.21104102,
        0.13638859,  0.19676774, -0.14591745,  0.16015883, -0.17748275,
        0.11916745,  0.15888299, -0.23936165, -0.18839017,  0.1337945 ,
        0.25595335, -0.23121324,  0.19873365, -0.20046951, -0.23863147,
        0.10846849,  0.19427921, -0.27296952, -0.15468001,  0.19070405,
        0.16333392, -0.15428532, -0.240227  ,  0.19084937, -0.21217605,
       -0.19263303,  0.16420498,  0.20549703, -0.31836453, -0.16383832,
       -0.18082122,  0.23660303,  0.10485868,  0.14863183,  0.13404179,
       -0.24003416, -0.27437246,  0.17030761,  0.1160581 ,  0.19135805,
       -0.19220947,  0.17230628,  0.14446484, -0.28472349,  0.13039717,
       -0.17273409,  0.25094915,  0.19886389,  0.20430265, -0.16287831,
       -0.13209136, -0.2013001 , -0.17503647,  0.22837482, -0.22742892,
        0.17948052, -0.20727722, -0.17725706,  0.20549484, -0.17411138,
        0.20599548,  0.20618296,  0.17782686, -0.1553473 ,  0.23002673,
        0.23540523,  0.18449606, -0.18035168, -0.19459396, -0.18251601,
        0.1388819 , -0.23941724, -0.21706809,  0.19637536,  0.16867161,
        0.25304476,  0.19772398,  0.16103337,  0.23675305,  0.21238705,
        0.1703651 , -0.18322305, -0.24186385, -0.26949251, -0.22512408,
       -0.26029922, -0.18731529, -0.21640887,  0.189478  , -0.20455822,
       -0.18090107, -0.14754138,  0.13691276,  0.12933338, -0.17242538,
       -0.18986203, -0.17072238,  0.15160632,  0.21883178,  0.16301415,
       -0.22859188, -0.14727394,  0.17024001, -0.17595955, -0.16812743,
        0.15996752,  0.13538283, -0.27714014, -0.20390081, -0.14474474,
        0.14659411, -0.18552712,  0.2509677 ,  0.20045745, -0.18401909,
        0.16277509, -0.19140621,  0.19270589,  0.2270116 ,  0.13882315,
        0.1772404 ,  0.15916839, -0.18566159,  0.15944506, -0.19923665,
       -0.16532086, -0.20908229, -0.21871305,  0.18042783,  0.23319623,
        0.19016707, -0.23578553, -0.27618491, -0.19544112, -0.22235747,
        0.11834605,  0.11196453, -0.22068922, -0.17524315,  0.200723  ,
        0.22187535,  0.23902087,  0.17419481,  0.15067153, -0.19904575,
        0.20640681, -0.17224237, -0.14477409, -0.23227021, -0.27119004,
        0.13763605, -0.21524303, -0.15776282, -0.23915532, -0.19590525,
        0.15687462,  0.18017107, -0.15135468,  0.12129603,  0.17890482,
       -0.18199512, -0.22003135, -0.23014233, -0.27856647, -0.13577728,
       -0.19643876,  0.24455532, -0.19351315, -0.15587742, -0.24956301,
       -0.15215661, -0.1430768 ,  0.14977042, -0.16717707,  0.20254903,
       -0.14835515, -0.2211782 ,  0.16474215, -0.13465159, -0.12340202,
        0.23977747,  0.20625895,  0.11513892, -0.17775112, -0.21304154,
       -0.18036382,  0.13617263, -0.17255168,  0.17913985, -0.2054363 ,
        0.24858345,  0.21692126, -0.1878057 , -0.18291435, -0.15983864])}